/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* 
  Filename: styles.css
  Author: George Donnelly
  Date Created: 28 Jul 2023
  Description: Main stylesheet for TokenStork.com 
*/

/* CSS Variables */
:root {
  --grid-template: 20% 12% 12% 12% 12% 8% 12% 12%;
  --heading-color: #4f359b;
  --secondary-color: #ff6b6b;
  --background-color: #f0eff4;
  --font-color: #343a40;
  --accent-color: #0ac18e;
  --border-color: #4f359b;
  --symbol-color: #888;
  --alternate-row-color: #e9fcec;
  --white-color: #fff;
  --twitter-color: #1da1f2;
  --link-color: #4f359b;
  --link-hover-color: #693cc4;
  --link-active-color: #2b185b;
  --link-visited-color: #9166cc;
  /* --heading-font: "Raleway", sans-serif;
  --body-font: "Open Sans", sans-serif; */
}

/* Reset Styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* Body & Typography Styles */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.25rem 3.125rem;
  font-family: var(--body-font);
  background-color: var(--background-color);
  color: var(--font-color);
}

strong {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--heading-color);
  font-weight: 700;
  margin-bottom: 0.313rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

/* Links */
a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--link-hover-color);
}

a:active {
  color: var(--link-active-color);
}

a:visited {
  color: var(--link-visited-color);
}

/* Header */
#hello-bar {
  background-color: var(--heading-color);
  color: var(--white-color);
  padding: 0.8rem 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0 1.25rem 0;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo a {
  text-decoration: inherit;
  color: inherit;
}

/* Top Nav */
nav ul.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-family: var(--heading-font);
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 1rem;
}

nav ul.nav-links li {
  margin-left: 1.25rem;
}

nav ul.nav-links li a {
  text-decoration: none;
  color: inherit;
}

/* Main */
.container {
  display: grid;
  grid-template-columns: var(--grid-template);
  gap: 1.25rem;
  width: 100%;
  margin-top: 1.25rem;
  padding: 0 3.125rem;
}

.header {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  padding: 0.625rem 0;
  background-color: transparent;
}

.row,
.header-row {
  display: grid;
  grid-template-columns: var(--grid-template);
  border-bottom: 0.063rem solid var(--border-color);
}

.header-row {
  border-top: 0.125rem solid var(--border-color);
  border-bottom: 0.125rem solid var(--border-color);
  padding: 0.625rem 0;
  background-color: transparent;
}

.row:nth-child(even) {
  background-color: var(--alternate-row-color);
}

/* ?? */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Table Cells */
.cell {
  padding: 1.25rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 0.625rem;
}

.symbol {
  color: gray;
  margin-left: 0.313rem;
}

.cell.icon-symbol-name {
  justify-content: flex-start;
}

.cell.icon-symbol-name .name {
  margin-left: 0.625rem;
  font-size: 1.125rem;
  font-weight: bold;
}

.cell.icon-symbol-name .symbol {
  margin-left: 0.625rem;
  color: var(--symbol-color);
}

.category-display {
  font-family: monospace;
}

.copy-icon,
.sk-icon,
.bcmr-links {
  margin-left: 0.625rem;
  color: var(--accent-color);
}

.sk-icon {
  max-width: 24px;
}

.icon-space {
  margin-left: 10px;
  color: var(--accent-color);
}

.footer-fa-icons {
  color: var(--accent-color);
  font-size: 1.5rem;
}

/* Copy Category */
.toast {
  visibility: hidden;
  min-width: 3.125rem;
  background-color: var(--accent-color);
  color: var(--white-color);
  text-align: center;
  border-radius: 0.125rem;
  padding: 1rem;
  position: fixed;
  left: 50%;
  bottom: 1.875rem;
  font-size: 1.063rem;
  transform: translateX(-50%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1000;
}

.toast.show {
  visibility: visible;
  opacity: 1;
  display: block;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* Footer */
footer {
  font-family: var(--body-font);
  background-color: var(--background-color);
  padding: 1.25rem 3.125rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.disclaimer,
.attribution,
.support {
  margin-bottom: 0.625rem;
}

.disclaimer {
  margin-top: 0.625rem;
  font-size: 0.938rem;
}

.footer-links {
  display: flex;
  gap: 0.3125rem;
}

.footer-links a {
  color: var(--secondary-color);
  text-decoration: none;
}

/* Footer Social Links */
.footer-social-links {
  display: flex;
  gap: 0.625rem;
  margin-top: 0.625rem;
}

.footer-social-links a {
  transition: color 0.2s ease-in-out;
}

.footer-social-links a:hover {
  color: var(--link-hover-color);
}

.footer-social-links i {
  font-size: 1.5rem;
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
}

/* For Tablet View */
/* @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
} */

/* For Mobile 
and Tablet 
Portrait View */
@media screen and (max-device-width: 768px) and (orientation: portrait) {
  body {
    min-width: 1280px;
    overflow-x: auto;
  }

  .header,
  .cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .cell img {
    max-width: 100%;
    height: auto;
  }

  .cell {
    font-size: 0.8em;
  }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
}
